@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-hover: #1d4ed8;
  --color-dark: #0F172A;
  --color-secondary: #475569;
  --color-border: #E2E8F0;
  --color-light-bg: #F8FAFC;
  --color-success: #10B981;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
